//////////////////////// CV LAYOUTING ////////////////////////
.cv-container {
  background-color: white;
  border-radius: 0.4rem;
  width: 65%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 19px 0;
  min-height: 120vh;
  //   margin: 3rem auto;
  //   @include flex(center, center, column);
  h4 {
    color: $dark-brown;
  }
  .personal-name {
    font-weight: 800;
    color: $dark-brown;
    flex-wrap: wrap;
    //color: lightblue;
  }
  &__attributes {
    // background-color: rgb(236, 236, 236);
    width: 80%;
    margin: 6rem auto 4rem auto;
  }
  .title {
    flex: 1 1 30%;
  }
  .list {
    color: $cv-grey;
    flex: 1 1 70%;
    text-align: justify;
  }
  .bold {
    color: rgb(104, 104, 104);
    font-weight: 600;
  }
}

//////////////////////// PERSONAL DETAILS ////////////////////////
.personal-details-container {
  .personal-details {
    //background-color: lightgray;
    margin: 2rem auto 4rem auto;
    @include flex(flex-end, center, row);
    flex-wrap: wrap;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1.5px;
      bottom: -25%;
      background: rgba(230, 230, 230, 0.75);
      border-radius: 15px;
    }

    p {
      margin: 0.5rem auto;
      color: $cv-grey;
    }

    &__left {
      // background-color: rgb(197, 219, 197);
      flex: 1 1 50%;
      p {
        font-weight: 500;
        font-size: $header4;
      }
    }

    &__right {
      flex: 1 1 50%;
      text-align: right;
      p {
        font-weight: 500;
      }
    }
  }

  .personal-bio {
    @include flex(flex-start, flex-start, row);
    margin: 2rem auto 6rem auto;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1.5px;
      top: 120%;
      background: rgba(230, 230, 230, 0.75);
      border-radius: 15px;
    }

    h4 {
      flex: 1 1 30%;
    }

    p {
      color: $cv-grey;
      flex: 1 1 70%;
      text-align: justify;
    }
  }
}

//////////////////////// WORK EXPERIENCES ////////////////////////
.work-experiences-container {
  @include flex(flex-start, flex-start, row);
  margin: 2rem auto 4rem auto;
  position: relative;
  flex-wrap: wrap;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    top: 101%;
    background: rgba(230, 230, 230, 0.75);
    border-radius: 15px;
  }

  .experience-list {
    margin: 0rem 0rem 2.5rem 0rem;
    .desc {
      margin: 1rem 0rem;
    }
  }
}

//////////////////////// EDUCATION  ////////////////////////
.education-container {
  @include flex(flex-start, flex-start, row);
  margin: 2rem auto 5rem auto;
  position: relative;
  flex-wrap: wrap;

  .education {
    margin: 0rem 0rem 2.5rem 0rem;
    .desc {
      margin: 1rem 0rem;
    }
  }
}
