.form-container {
  background-color: rgb(236, 236, 236);
  border-radius: 0.8rem;
  width: 60%;
  margin: 3rem auto;
  @include flex(center, center, column);
}

.form-input {
  width: 80%;
  margin: auto;
  margin: 1.2rem auto;
  form {
    @include flex(center, flex-start, column);
    //background-color: lightgreen;
    width: 100%;
    margin: 1rem 0rem 1.5rem 0rem;
    input {
      width: 100%;
      border: 0.5px solid rgb(224, 224, 224);
      margin: 0.3rem 1rem;
      padding: 0.8rem;
      border-radius: 0.8rem;
      color: $grey;
    }
    textarea {
      border-radius: 0.8rem;
      padding: 1rem;
      margin: 0.3rem 1rem;
      width: 100%;
      border: 0.5px solid rgb(224, 224, 224);
      color: $grey;
    }
    i {
      background-color: #d9534f;
      color: white;
      padding: 0.8rem 1.3rem;
      margin-left: 1.2rem;
      margin-top: 0.4rem;
      font-size: 1.5rem;
      border-radius: 0.8rem;
      cursor: pointer;
      transition: background 0.5s ease-in-out;
    }
    i:hover {
      background-color: #d42e28;
    }
  }
  h4 {
    font-weight: 600;
    color: $grey;
  }
  .btn-add {
    background-color: rgb(138, 168, 138);
    color: white;
    border: none;
    padding: 0.8rem 3.5rem;
    margin-left: 1.2rem;
    margin-top: 0.4rem;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }
  .btn-add:hover {
    background-color: rgb(112, 153, 112);
  }
}

.form-education {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
