* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 5.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
  font-size: 5.5rem;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

.main-container {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container {
  background-color: #ececec;
  border-radius: 0.8rem;
  width: 60%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input {
  width: 80%;
  margin: auto;
  margin: 1.2rem auto;
}

.form-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 1rem 0rem 1.5rem 0rem;
}

.form-input form input {
  width: 100%;
  border: 0.5px solid #e0e0e0;
  margin: 0.3rem 1rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: #4b4b4b;
}

.form-input form textarea {
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 0.3rem 1rem;
  width: 100%;
  border: 0.5px solid #e0e0e0;
  color: #4b4b4b;
}

.form-input form i {
  background-color: #d9534f;
  color: white;
  padding: 0.8rem 1.3rem;
  margin-left: 1.2rem;
  margin-top: 0.4rem;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.form-input form i:hover {
  background-color: #d42e28;
}

.form-input h4 {
  font-weight: 600;
  color: #4b4b4b;
}

.form-input .btn-add {
  background-color: #8aa88a;
  color: white;
  border: none;
  padding: 0.8rem 3.5rem;
  margin-left: 1.2rem;
  margin-top: 0.4rem;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.form-input .btn-add:hover {
  background-color: #709970;
}

.form-education {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.cv-container {
  background-color: white;
  border-radius: 0.4rem;
  width: 65%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 19px 0;
          box-shadow: rgba(0, 0, 0, 0.3) 0 2px 19px 0;
  min-height: 120vh;
}

.cv-container h4 {
  color: #2c2121;
}

.cv-container .personal-name {
  font-weight: 800;
  color: #2c2121;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cv-container__attributes {
  width: 80%;
  margin: 6rem auto 4rem auto;
}

.cv-container .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.cv-container .list {
  color: #767e90;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  text-align: justify;
}

.cv-container .bold {
  color: #686868;
  font-weight: 600;
}

.personal-details-container .personal-details {
  margin: 2rem auto 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.personal-details-container .personal-details:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -25%;
  background: rgba(230, 230, 230, 0.75);
  border-radius: 15px;
}

.personal-details-container .personal-details p {
  margin: 0.5rem auto;
  color: #767e90;
}

.personal-details-container .personal-details__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.personal-details-container .personal-details__left p {
  font-weight: 500;
  font-size: 2rem;
}

.personal-details-container .personal-details__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: right;
}

.personal-details-container .personal-details__right p {
  font-weight: 500;
}

.personal-details-container .personal-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem auto 6rem auto;
  position: relative;
}

.personal-details-container .personal-bio:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 120%;
  background: rgba(230, 230, 230, 0.75);
  border-radius: 15px;
}

.personal-details-container .personal-bio h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.personal-details-container .personal-bio p {
  color: #767e90;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  text-align: justify;
}

.work-experiences-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem auto 4rem auto;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-experiences-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 101%;
  background: rgba(230, 230, 230, 0.75);
  border-radius: 15px;
}

.work-experiences-container .experience-list {
  margin: 0rem 0rem 2.5rem 0rem;
}

.work-experiences-container .experience-list .desc {
  margin: 1rem 0rem;
}

.education-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem auto 5rem auto;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.education-container .education {
  margin: 0rem 0rem 2.5rem 0rem;
}

.education-container .education .desc {
  margin: 1rem 0rem;
}
/*# sourceMappingURL=style.css.map */